* {
    box-sizing: border-box;
  }
  
  body {
    font-family: helvetica, arial, sans-serif;
    margin: 25px;
    background-color:#F2CEA2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
  
  main {
    display:block;
    height:175px;
  }
  
  header {
    border-bottom: 1px solid black;
  }
  h1 {
    font-weight: bold;
    color: #000;
  }
  
  .bold {
    font-weight: bold;
  }
  
  p {
    max-width: 600px;
  }
  
  
  li {
    margin-bottom: 5px;
  }
  
  footer {
    padding-top: 25px;
    border-top: 1px solid black;
  }
  
  footer a {
    float:left;
    margin:5px;
  }
  .conatinerPet{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .pet-image {
    height:500px;
    border: 25px solid black;
    border-radius: 30%;
  }

  /*border sleep animation*/
  .sleep-glow{
    animation: glow 1s ease-in-out infinite alternate;
  }

  @keyframes glow{
    from {
      box-shadow: 0 0 5px #296962;
    }
    to {
      box-shadow: 0 0 25px #00c8ff;
    }
  }

  /* message pop with With Paw*/
  .paw-container {
  position: relative;
  width: 300px;      
  height: 300px;
  }

.paw-img {
  width: 100%;
  height: 100%;
}

.paw-message {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  display: none;
}

  .dashboard div {
    display:block;
    font-size:35px;
  }
  
  .pet-image-container {
    /*float:left;
    padding:10px;*/
  }
  
  .dashboard {
    /*float:left;
    padding:20px;*/
  }
  
  .button-container {
    margin-top:20px;
  }
  
  .button-container button {
    width: 250px;
    height:50px;
      margin-right: 10px;
      text-align: center;
      display: inline-block;

    font-size:35px;
    background-color: #000000;
    border-color: #404853;
    cursor:pointer;
    background-image: linear-gradient(to bottom,rgba(246,246,246,.1)0%,rgba(30,40,53,0)66%);
    color: #fafafa;
  }